sudo: required

os:
  - linux

language: cpp
dist: xenial

matrix:
  include:
    # Build and test against the master (stable) and devel branches of Nim
    # Build and test using both gcc and clang
    - os: linux
      env: CHANNEL=stable
      compiler: gcc

    - os: linux
      env: CHANNEL=devel
      compiler: gcc

cache:
  directories:
    - "${HOME}/.choosenim"

install:
  - curl https://nim-lang.org/choosenim/init.sh -sSf > init.sh
  - sh init.sh -y
  - export PATH=$HOME/.nimble/bin:$PATH
  - choosenim $CHANNEL

script:
  - nim testAll

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always
